#btn{
    background-color: var(--primary-cyan);
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
    
}

.br20{
    border-radius: 20px;
}

.br5{
    border-radius: 8px;
    
}

.br8{
    border-radius: 5px;
}

.br50{
    border-radius: 50px;
}

.big{
    padding: 16px 44.8px;
    font-size: 18px;
}

.bigGet{
    padding: 10px 42px;
    font-size: 18px;
}

.small{
    padding: 6px 18px;
    font-size: 14px;
    margin-left: 10px;
}

#btn:hover{
    opacity: 0.8;
    transition: .2s ease-in-out;
    
}

.quase-small{
    padding: 10px 32px;
    font-size: 14px;
    margin-left: 10px;
}

