.container-statistics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--neutral-gray);
    height: 50rem;
}

.container-statistics >p{
    width: 40%;
    text-align: center;
    color: var(--neutral-grayish-violet);
}
.container-statistics > h1{
    color: var(--neutral-dark-violet);
    margin-bottom: 5px;
}
.container-benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.wrapper-benefits{
    margin-top: 6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    padding-top: 3rem;
    width: 250px;
    gap: 12px;
    position: relative;
    height: 150px;
    border-radius: 6px;
    background-color: #fff;
}
.wrapper-benefits:nth-child(1)::before,
.wrapper-benefits:nth-child(2)::before {
    content: "";
    height: 12px;
    background-color: var(--primary-cyan);
    width: 8.2vw;
    top: 60%;
    right: -112px;
    position: absolute;
}
.wrapper-benefits:nth-child(2)::before{
    top: 40%;
}
.wrapper-benefits:nth-child(2){
    margin-bottom: -100px;
}
.wrapper-benefits:nth-child(3){
    margin-bottom: -200px;
}

.wrapper-benefits div{
    background-color: var(--primary-dark-violet);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
}
.wrapper-benefits:nth-child(1) div{
    background-image: url('../../assets/icon-brand-recognition.svg');
}
.wrapper-benefits:nth-child(2) div{
    background-image: url('../../assets/icon-detailed-records.svg');
}
.wrapper-benefits:nth-child(3) div{
    background-image: url('../../assets/icon-fully-customizable.svg');
}

.wrapper-benefits > p{
    font-size: 13px;
    color: var(--neutral-grayish-violet)
}
.wrapper-benefits > h3{
    color: var(--neutral-dark-violet)
}
