:root{
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  --primary-cyan-opaque:hsla(180, 66%, 49%,85%);
  --secondary-red: hsl(0, 87%, 67%);

  --neutral-gray: hsl(0, 0%, 89%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
  
}


*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
