.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-gray)
}

.design-entrada{
    text-align: center;
    background-image: url(../../assets/bg-shorten-desktop.svg);
    background-color: var(--primary-dark-violet);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    width: 1100px;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container-entrada{
    padding: 28px;
    width: 700px;
    height: 3px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    
}

.container-entrada::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 700;
}

.container-entrada:focus{
    border: 1px solid var (--secondary-red)
}