.design-entrada{
    text-align: center;
    background-image: url(../../assets/bg-shorten-desktop.svg);
    background-color: var(--primary-dark-violet);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    width: 60%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto; /* deletar isso depois*/

}

.container-entrada{
    padding: 28px;
    width: 800px;
    height: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 20px;
    
}

.container-entrada::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 700;
}
