.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-gray);
}

.design-entrada{
    background-image: url(../../assets/bg-shorten-desktop.svg);
    background-color: var(--primary-dark-violet);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-radius: 10px;
    margin-top: -75px;
}

.container-entrada{
    padding: 28px;
    height: 2px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
}

.container-entrada::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 700;
}
.container-input{
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    width: 65%;
}
.span-alert{
    visibility: hidden;
    color: var(--secondary-red);
    margin-left: 7px;
    font-style: italic;

}

.active{
    visibility: visible;
}

.activeInput{
    border: 4px solid var(--secondary-red);
    animation: shakeshake .5s;
    transition: border .1s
}

@keyframes shakeshake {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-10px);
        }
        60% {
          transform: translateY(-3px);
        }

}


.container-shortlink{
    background-color: #fff;
    display: flex;
    padding: 18px 28px ;
    width: 996px; 
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
    margin-left: 3px;
}

.container-shortlink > div > a { 
    margin-right: 25px;
    color: var(--primary-cyan);
    cursor: pointer;
}

.link-grandao{
    max-width: 48ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shortlinkUiui{
    text-decoration: none;
}
